#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 500px;
  overflow-y: auto;
  background-color: #f0edd8ff;
  z-index: 9999;
  padding-left: 22px;
  padding-right: 22px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 5px; /* Adjust the padding to reduce the gap */
  padding-left: 20px; /* Adjust the padding to reduce the gap */
  padding-right: 20px; /* Adjust the padding to reduce the gap */
  border-top: none; /* Remove the border */
}

#placeInfo {
  max-height: auto; /* Adjust the height to leave space for the footer */
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative;
}

#placeInfo h2 {
  text-align: center;
  font-size: 18px;
  font-family: "Calibri", sans-serif;
  padding-bottom: 10px;
  margin: 5px;
  font-weight: bold;
}

#description {
  text-align: left;
  font-size: 11pt;
  color: #382b13;
  line-height: 1.5;
  font-family: "Calibri", sans-serif;
  background-color: #b2b58b;
  padding: 10px;
  margin: 5px;
}

#caption{
  margin: 5px;
  font-size: 10pt;
  font-style: italic;
  font-family: "Calibri", sans-serif;
  color: #382b13;
  background-color: #b2b58b;
  padding: 10px;
}

@media screen and (min-width:30em) {
  #sidebar {
    height: auto;
    width: 500px;
  }
}

.leaflet-marker-icon:hover {
  opacity: 0.8;
}

a {
  color: #528e9e;
  text-decoration: none;
}

a:hover {
  opacity: 1;
}

.leaflet-control {
  border: 1px solid rgba(0,0,0,0.1) !important;
  border-radius: 2px !important;
}

.leaflet-control-layers-expanded {
  font-size: 1.2em;
  line-height: 1.2em;
}

.leaflet-control-layers-expanded label {
  cursor: pointer;
}

.leaflet-control-layers-expanded label:hover {
  opacity: 0.8;
}

#gallery {
  position: relative;
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  margin:5px;
}

#gallery figure {
  margin: 0;
  width: 100%; /* Ensure each image fills the gallery horizontally */
  height: 100%; /* Ensure each image fills the gallery vertically */
  overflow: hidden; /* Ensure images are cropped */
}

#gallery img {
  width: 100%; /* Ensure images fill the gallery horizontally */
  height: 100%; /* Ensure images fill the gallery vertically */
  object-fit: cover; /* Crop the image to cover the entire figure */
  max-width: none; /* Override max-width */
  display: block; /* Ensure images are displayed as blocks */
  margin: 0 auto; /* Center images horizontally */
  opacity: 1; /* Ensure images are fully visible by default */
  transition: opacity 0.3s ease; /* Smooth transition for opacity changes */
}

#gallery img:hover {
  opacity: 1; /* Override opacity when hovering to maintain full visibility */
}

#gallery .material-icons.arrow {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
  color: #f0edd8ff;
  z-index: 2;
}

#gallery .arrow-left {
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

#gallery .arrow-right {
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.separator {
  border: none;
  border-top: 1px solid #000000;
  margin: 0;
  padding-top: 10px; 
  width: 100%;
  margin-left: auto; /* Center the line horizontally */
  margin-right: auto; /* Center the line horizontally */
}

.f3.mv2 {
  /* Styles specific to h1 elements with classes f3 and mv2 */
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  font-family: "Calibri", sans-serif;
  color: #333;
}

/* Add styling for the additional image container if needed */
#additionalImageContainer {
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 1.2em;
}

h2 {
  margin: -7px;
  font-size: 1.0em;
  font-weight: normal;
  padding-bottom: 20px;
  font-family: "Calibri", sans-serif;
  color: #333;
}

#audioPlayer {
  width: 100%;
}

.leaflet-tooltip {
  background-color: rgba(255, 255, 255, 0.8); /* Background color */
  color: #333; /* Text color */
  border: 1px solid #aaa; /* Border */
  border-radius: 4px; /* Border radius */
  padding: 6px 10px; /* Padding */
  font-size: 12px; /* Font size */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
}

p {
  text-align: left;
}
