#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 500px;
  overflow-y: auto;
  background-color: #f0edd8ff;
  z-index: 9999;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 5px; /* Adjust the padding to reduce the gap */
  padding-left: 20px; /* Adjust the padding to reduce the gap */
  border-top: none; /* Remove the border */
}

#placeInfo {
  max-height: 450px; /* Adjust the height to leave space for the footer */
  overflow-y: auto; /* Enable vertical scrolling */
}

@media screen and (min-width:30em) {
  #sidebar {
    height: auto;
    width: 500px;
  }
}

.leaflet-marker-icon:hover {
  opacity: 0.8;
}

a {
  color: #528e9e;
  text-decoration: none;
}

a:hover {
  opacity: 1;
}

.leaflet-control {
  border: 1px solid rgba(0,0,0,0.1) !important;
  border-radius: 2px !important;
}

.leaflet-control-layers-expanded {
  font-size: 1.2em;
  line-height: 1.2em;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.leaflet-control-layers-expanded label {
  cursor: pointer;
}

/* Remove background, border, and shadow from layer control */
.leaflet-control-layers {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Optionally, you can style the content of the layer control */
.leaflet-control-layers-selector {
  color: #333; /* Change color of layer names */
  background-color: transparent; /* Make layer names transparent */
}

/* Optionally, you can style the checkboxes */
.leaflet-control-layers-selector input[type="checkbox"] {
  margin-right: 5px; /* Add some spacing between checkboxes and layer names */
}

#gallery img {
  max-width: 100%; /* Set maximum width */
  max-height: 300px; /* Set maximum height */
  display: block; /* Ensure images are displayed as blocks */
  margin: 0 auto; /* Center images horizontally */
}

.material-icons.arrow {
  position: absolute; /* Position arrows absolutely */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust vertical position */
  font-size: 24px; /* Set arrow size */
  cursor: pointer; /* Show pointer cursor */
  color: black; /* Set arrow color */
}

.arrow-left {
  left: 10px; /* Position left arrow */
}

.arrow-right {
  right: 10px; /* Position right arrow */
}